{% set active_class = "text-primary decoration-wavy underline-offset-2 underline decoration-current" %}

<header class="sticky w-full top-0 z-60 bg-background/80 backdrop-blur-sm border-b border-border/60">
    <nav class="max-w-7xl w-full mx-auto px-4 sm:px-6 md:px-8 xl:px-5 flex items-center justify-between gap-4 py-3">
        <div class="flex relative z-40 lg:z-auto">
            <a href="https://rooneykalumba.tech" aria-label="Home" class="w-max">
                rooneykalumba           
                </a>
        </div>

        <div data-navbar class="bg-background lg:bg-transparent pt-24 sm:pt-32 lg:pt-0 ease-linear duration-300 lg:transition-none top-0 w-screen h-dvh lg:h-auto lg:w-auto invisible opacity-0 fx-open:visible fx-open:opacity-100 lg:visible lg:opacity-100 translate-y-4 fx-open:translate-y-0 lg:translate-y-0 fixed left-0 lg:static z-30 lg:z-auto lg:flex-1 lg:border-x px-5 lg:px-4 border-border/60 flex lg:justify-center">
            <ul class="flex flex-col lg:flex-row lg:items-center gap-3 text-muted-foreground">
                <li class="flex">
                    <a href="{{ path('app_projects_index') }}" class="{{ 'app_projects_index' == app.current_route ? active_class : '' }} flex py-1 px-2.5 rounded-global ease-linear duration-300 hover:bg-muted/20 items-center">
                        Projects
                    </a>
                </li>
                <li class="flex">
                    <a href="{{ path('app_contact_index') }}" class="{{ 'app_contact_index' == app.current_route ? active_class : '' }} flex py-1 px-2.5 rounded-global ease-linear duration-300 hover:bg-muted/20 items-center">
                        Contact
                    </a>
                </li>

                <li class="flex mt-4 gap-4 flex-col sm:flex-row lg:hidden">
                    <a href="{{ path('app_contact_index') }}" class="group relative inline-flex btn btn-xl btn-solid-primary justify-center rounded-global py-1 pl-6 pr-14 font-medium">
                        <span class="z-10 pr-2 text-nowrap"> {{ 'contact.cta.primary'|trans }} </span>
                        <div class="btn-solid-indic bg-primary-700">
                            <div class="mr-3.5 flex items-center justify-center">
                                <twig:ux:icon name="hugeicons:comment-01" class="iconify" />
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('app_contact_index') }}" class="group relative inline-flex btn btn-xl btn-solid-gray justify-center rounded-global py-1 pl-6 pr-14 font-medium">
                        <span class="z-10 pr-2 text-nowrap"> {{ 'contact.cta.secondary'|trans }} </span>
                        <div class="btn-solid-indic bg-bg-muted">
                            <div class="mr-3.5 flex items-center justify-center">
                                <twig:ux:icon name="hugeicons:comment-01" class="iconify" />
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
